
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}3,2,1 Recettes{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<section class="accueil">
    <article>
        <a href="{{ path('recette_liste') }}">
            <img src="{{ asset('images/philippe-etchebest-1200x720.jpg') }}" alt="photo_philippe">
        </a>
        <h1>3.2.1 RECETTES</h1>
    </article>
</section>
</body>
</html>
